/*css content here*/
body{
	font-family: 'Nunito', sans-serif;
	color: black;
}


.wrapper{
	background-color: white;
	width: 20rem;
	padding: 2rem;
	margin: 2rem auto;
}

#pageTitle{
	text-align: center;
}

/*Input textboxes*/

.firstName{
	display:flex;
	flex-direction: column;
	margin:1rem 0;
}

.input-text{
	background: #FFFFFF;
	border: 1px solid #2AF48E;
	box-sizing: border-box;
	border-radius: 5px;
	padding:0.6rem;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: inherit;
}

.lastName{
	display:flex;
	flex-direction: column;
	margin:1rem 0;
}

.studentID{
	display:flex;
	flex-direction: column;
	margin:1rem 0;
}

.assessmentCode{
	display:flex;
	flex-direction: column;
	margin:1rem 0;
}

.label-text{
	font-size: 1rem;
	margin-bottom: 0.2rem;
}

.input-text::placeholder{
	color: #C4C4C4 !important;
}

/*Buttons*/

.startbutton{
	background: #06CC91;
	border: 1.5px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
	width: 9.5rem;
	height: 3rem;
	font-family: inherit;
	font-weight: bold;
	font-size: 28px; 
	cursor:pointer;
	transition:250ms all ease-in;
}

.startbutton:hover{
	background-color: #07AB7A;
}

.stopbutton{
	background: #FF0000;
	border: 1.5px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
	width: 9.5rem;
	height: 3rem;
	font-family: inherit;
	font-weight: bold;
	font-size: 28px; 
	cursor:pointer;
	transition:250ms all ease-in;
}

.stopbutton:hover{
	background-color: #DD0000;
}
